DATABASE_URL="mysql://root:@localhost:3306/titik_apparel"
MIDTRANS_SERVER_KEY="your_midtrans_server_key"
MIDTRANS_CLIENT_KEY="your_midtrans_client_key"
MIDTRANS_IS_PRODUCTION="false"
JWT_SECRET="your_jwt_secret"
CLIENT_ORIGIN="http://localhost:3000"
PORT="4000"
